@import "./base.css";

#app {
  width: 100%;
  height: 100%;
  font-weight: normal;
}
body {
  background: rgb(186 183 193);
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
/*                    Create Pack                   */
#questionDone{
  background: transparent;
  border: none;
  border-top: 1px solid grey;
}
#fileUploadBlock{
  width:100%;
  height:100%;
  display:flex;
  place-items: center;
  flex-wrap: wrap;
}
#fileDropInp{
  height: 30%;
  background: transparent;
  border: none;
}
#questionInputArea{
  resize: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  width: 100%;
  font-size: 24px;
  color: white;
  padding: 5%;
}
#questionInputArea::selection{
  color: black;
}
#answerInputArea{
  resize: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  width: 100%;
  font-size: 24px;
  color: white;
  padding: 5%;
}
.wrongAnswerInputArea{
  resize: none;
  background: transparent;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  width: 100%;
  font-size: 24px;
  color: white;
  padding: 5%;
}
.wrongAnswerInputArea::placeholder{
  font-size: 18px;
}
#answerInputArea::placeholder{
  font-size: 18px;
}
#questionInputArea::selection{
  color: black;
}
.category{
  /* background: red !important; */
  
}
.points{
  
}
.invisible{
  display: none;
}
#bgBlur{
  z-index: 0;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(4px) brightness(0.7);
}
#bgBlurForSaveWindow{
  z-index: 0;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(4px) brightness(0.7);
}
#bgBlurQuite{
  z-index: 0;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(4px) brightness(0.7);
}
#createPacke{
  width: 100vw;
  height: 100vh;
}
.tabelQuestionCreate{
  margin: 5vh 2vw;
  width: 96vw;
  height: 76vh;
  display: grid;
  grid-template-columns: repeat(6, 16vw);
  grid-template-rows: repeat(8, 9.5vh);
}

.tabelQuestionCreate > * {
  border: 1px solid black;
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: 24px;
  text-align: center;
  color: rgb(70, 70, 70);
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  place-items: center;
  place-content: center;
}
#makeQuestion{
  grid-template-columns: 100%;
  grid-template-rows: 30% 8.75% 8.75% 8.75% 8.75% 25% 10%;
  z-index: 2;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgb(95, 104, 104);
  position: absolute;
  min-width: 40vw;
  min-height: 60vh;
}
@media screen and (max-device-width: 1024px) {
  .tabelQuestionCreate > * {
      font-size: 12px;
  }
  #makeQuestion{
      min-width: 60vw;
  }
  #savePackWindow{
    min-width: 60vw;
}
#clarifyQuite{
  min-width: 60vw;
}
}
@media screen and (min-device-width: 1024px) {
  .tabelQuestionCreate > * {
      font-size: 24px;
  }
      #makeQuestion{
      min-width: 40vw;
  }
  #savePackWindow{
    min-width: 40vw;
}
#clarifyQuite{
  min-width: 40vw;
}
}
/*        slider         */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  width: 60px;
  height: 33px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* Pack */
.packCategoriesBlock{
  grid-area: packCategories;
  display: grid;
  grid-template-columns: 10% 80% 10%;
}
.packStar{
  grid-area: packStar;
  align-self: center;
  justify-self: start;
  margin-left: 10%;
}
.packName{
  grid-area: packName;
}
.packAuthor{
  grid-area: packAuthor;
}
.categoriesRoundBlock{
  display: grid;
  grid-template-rows: 2vh 6vh;
}
.packCategoriesLbl{
  height: 20px;
  margin: 0 2%;
}
.packCategories{
  /* display: none; */
  flex-wrap: wrap;
  word-break: break-word;
  overflow: scroll;
}
.roundOfCategories{
  text-align: center;
}
#savePackWindow{
  grid-template-columns: 100%;
  z-index: 2;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgb(95, 104, 104);
  position: absolute;
  min-width: 40vw;
  min-height: 60vh;
}
#clarifyQuite{
  grid-template-columns: 100%;
  z-index: 2;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: rgb(95, 104, 104);
  position: absolute;
  min-width: 40vw;
  min-height: 60vh;
}