@import "./base.css";

#app {
  width: 100%;
  height: 100%;
  font-weight: normal;
}
body {
  background: #2b84b3;
  background: radial-gradient(#8ac9eb, #2b84b3);
  overflow: hidden;
  font-family: 'Jua', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: white;
  font-size: 1em;
  line-height: 25px;
  -webkit-touch-callout: none;
  -webkit-user-select: none; 
   -khtml-user-select: none;
     -moz-user-select: none; 
      -ms-user-select: none; 
          user-select: none; 
}
body *{
  font-family: 'Jua', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: white;
  font-size: 1em;
  line-height: 25px;
}
input{
  outline: none;
}
button{
  cursor: pointer;
}
.pack{
  cursor: pointer;
}
.pack *{
  cursor: pointer;
}
a,
.green:hover {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}
.pageName{
  font-size: 1.5em;
  z-index: 1;
  height: 5vh;
  position: absolute;
  top: 0;
  left: 50%;
  margin: 0;
  transform: translate(-50%, 0);
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
}
@media screen and (max-device-width: 1024px) {
  .tabelQuestionCreate > * {
      font-size: 12px;
  }
  #makeQuestion{
      min-width: 80vw;
  }
  #savePackWindow{
    min-width: 60vw;
}
#clarifyQuite{
  min-width: 60vw;
}
.packCategoriesLbl{
  font-size: 0.8em;
}
.packAuthor{
  font-size: 1.5em;
  line-height: 40px;
}
.packName{
  font-size: 1.5em;
  line-height: 40px;
}
.pageName{
  font-size: 1.5em;
}
#startGame{
  font-size: 1.5em;
}
#saveBtn{
  font-size: 1.5em;
}
#inputNameGame{
  width: 50%;
  height: 40px;
}
.timesSettingBlock > input{
  width: 50%;
  height: 40px;
}
.playersNick{
  font-size: 0.9em;
}
#nowTurnPlayerName{
  font-size: 1.5em;
}
}
@media screen and (min-device-width: 1024px) {
  .tabelQuestionCreate > * {
      font-size: 24px;
  }
      #makeQuestion{
      width: 40vw;
  }
  #savePackWindow{
    min-width: 30vw;
}
#clarifyQuite{
  min-width: 40vw;
}
.packCategoriesLbl{
  font-size: 1.2em;
}
.packAuthor{
  font-size: 2em;
  line-height: 40px;
}
.packName{
  font-size: 2em;
  line-height: 40px;
}
.pageName{
  font-size: 2.5em;
}
#startGame{
  font-size: 2em;
}
#saveBtn{
  font-size: 2em;
}
.timesSettingBlock > input{
  width: 50%;
  height: 40px;
}
#inputNameGame{
  width: 25%;
  height: 60px;
}
.playersNick{
  font-size: 1.5em;
}
#nowTurnPlayerName{
  font-size: 2.5em;
}
}
/*        slider         */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  -webkit-transition: .4s;
  transition: .4s;
  width: 70px;
  height: 45px;
  border: 5px solid #145367;
}

.slider:before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 4px;
  bottom: 5px;
  background: #2185A6;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background: #E17BB3F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {display:none;}
.slider.round:before {
  border-radius: 50%;
}
/* Pack */
.packCategoriesBlock{
  grid-area: packCategories;
  display: grid;
  grid-template-columns: 10% 80% 10%;
}
.packName{
  grid-area: packName;
}
.packAuthor{
  grid-area: packAuthor;
}
.categoriesRoundBlock{
  display: grid;
  grid-template-rows: 2vh 6vh;
}
.packCategoriesLbl{
  height: 20px;
  margin: 0 2%;
}
.packCategories{
  /* display: none; */
  flex-wrap: wrap;
  word-break: break-word;
  overflow: scroll;
}
.roundOfCategories{
  text-align: center;
}
.displayNone{
  display: none;
}
#loader{
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  width: 200vw;
  height: 200vh;
  overflow: hidden;
  z-index: 9999999;
  pointer-events: none;
  display: block;
  background: transparent;
  border: 100vw solid #2b84b3;
  border-radius: 50%;
  overflow: hidden;
}
.closeLoader{
  animation: 2s linear 0s running closeLoader;
}
@keyframes closeLoader {
  from {
    border: 100vw solid #2b84b3;
  }
  to {
    border: 0px solid #2b84b3;
  }
}
.backBtn{
  height: 100%;
  z-index: 99999999999;
}